In [1]:
import pandas as pd

In [2]:
from bias_explorer.utils import dataloader
from bias_explorer.operations import report

In [3]:
sum_df = dataloader.load_df("data/fairface/results/openCLIP/ViT-L-14/commonpool_xl_s13b_b90k/sum_synms.csv")
top_df = dataloader.load_df("data/fairface/results/openCLIP/ViT-L-14/commonpool_xl_s13b_b90k/top_synms.csv")

In [4]:
d = report.gen_csv_report(sum_df, top_df, 'oi')

generating csv report

In [5]:
d

{'Mode': ['Avg Sum', 'Top 1'],
 'Accuracy': [0.9581887894832938, 0.9602884790943947],
 'Male': [0.9356008287292817, 0.950103591160221],
 'Female': [0.9835335141418055, 0.971716388996513],
 'East Asian': [0.9490322580645161, 0.9535483870967741],
 'White': [0.9649880095923261, 0.958273381294964],
 'Latino_Hispanic': [0.9698089956869994, 0.9685767097966729],
 'Southeast Asian': [0.942756183745583, 0.953356890459364],
 'Black': [0.9318766066838047, 0.9395886889460154],
 'Indian': [0.9689973614775725, 0.9722955145118733],
 'Middle Eastern': [0.9809760132340778, 0.9809760132340778],
 '00-02': [0.7085427135678392, 0.7537688442211056],
 '03-09': [0.8974926253687315, 0.918141592920354],
 '10-19': [0.9441151566469094, 0.9483488569009314],
 '20-29': [0.9687878787878788, 0.9645454545454546],
 '30-39': [0.984549356223176, 0.9819742489270387],
 '40-49': [0.9815225424981523, 0.9830007390983001],
 '50-59': [0.9723618090452262, 0.9723618090452262],
 '60-69': [0.9906542056074766, 0.9875389408099688],
 'more than 70': [0.9491525423728814, 0.9491525423728814]}

In [6]:
df = pd.DataFrame(d)

In [7]:
df

,Mode,Accuracy,Male,Female,East Asian,White,Latino_Hispanic,Southeast Asian,Black,Indian,Middle Eastern,00-02,03-09,10-19,20-29,30-39,40-49,50-59,60-69,more than 70
0,Avg Sum,0.958189,0.935601,0.983534,0.949032,0.964988,0.969809,0.942756,0.931877,0.968997,0.980976,0.708543,0.897493,0.944115,0.968788,0.984549,0.981523,0.972362,0.990654,0.949153
1,Top 1,0.960288,0.950104,0.971716,0.953548,0.958273,0.968577,0.953357,0.939589,0.972296,0.980976,0.753769,0.918142,0.948349,0.964545,0.981974,0.983001,0.972362,0.987539,0.949153

In [8]:
sum_df.head()

        file    age  gender             race gender_preds
0  val/1.jpg    3-9    Male       East Asian         Male
1  val/2.jpg  50-59  Female       East Asian       Female
2  val/3.jpg  30-39    Male            White         Male
3  val/4.jpg  20-29  Female  Latino_Hispanic       Female
4  val/5.jpg  20-29    Male  Southeast Asian         Male

In [9]:
print(list(sum_df['age'].unique()))

['3-9', '50-59', '30-39', '20-29', 'more than 70', '40-49', '10-19', '60-69', '0-2']

In [10]:
def fix_age_order(age_list):
    age_list[0] = '03-09'
    age_list[-1] = '00-02'
    age_list.sort()
    return age_list

In [11]:
rep_dict = {}
uniques = list(sum_df['age'].unique())
uniques[0] = '03-09'
uniques[-1] = '00-02'
uniques.sort()
for unique in uniques:
    rep_dict[unique] = []

print(rep_dict)

{'00-02': [], '03-09': [], '10-19': [], '20-29': [], '30-39': [], '40-49': [], '50-59': [], '60-69': [], 'more than 70': []}

In [12]:
cols = list(sum_df.drop(columns=['file','gender_preds']).keys())
cols

['age', 'gender', 'race']

In [13]:
i = cols.index("age")
j = cols.index("gender")
cols[i], cols[j] = cols[j], cols[i]
cols

['gender', 'age', 'race']

In [14]:
def list_item_swap(list, i1, i2):
    i = list.index(i1)
    j = list.index(i2)
    list[i], list[j] = list[j], list[i]
    return list