In [1]:
import pandas as pd

In [2]:
from bias_explorer.utils import dataloader, system
from bias_explorer.operations import concatenate
from main import load_config

In [3]:
conf = load_config()

In [4]:
conf

{'Operations': {'Generate': False,
  'Evaluate': False,
  'Report': True,
  'Concatenate': True,
  'Save_imgs': False},
 'Model': 'openCLIP',
 'Backbone': 'ViT-L-14',
 'DataSource': ['openai',
  'laion400m_e31',
  'laion2b_s32b_b82k',
  'datacomp_xl_s13b_b90k',
  'commonpool_xl_s13b_b90k'],
 'Target': 'Gender',
 'Flags': ['no-baby'],
 'Baseline': './data/fairface/fface_val.csv',
 'Images': '/home/lucasmc/Documents/ufrgs/datasets/FairFace/val/',
 'Embeddings': './data/fairface/embeddings',
 'Labels': './data/fairface/labels/age_race_gender.json',
 'Results': './data/fairface/results',
 'Reports': './data/fairface/reports'}

In [5]:
reports = concatenate.collect_reports(conf)

Collecting reports...

In [8]:
reports['openai'].head()

,Mode,Accuracy,Male,Female,East Asian,White,Latino_Hispanic,Southeast Asian,Black,Indian,Middle Eastern,00-02,03-09,10-19,20-29,30-39,40-49,50-59,60-69,more than 70
0,Avg Sum,0.948695,0.955628,0.940914,0.952903,0.937170,0.939002,0.951943,0.929949,0.968338,0.971878,0.783920,0.921829,0.921253,0.947879,0.966094,0.969697,0.974874,0.981308,0.983051
1,Top 1,0.954355,0.953902,0.954862,0.958065,0.947242,0.950092,0.952650,0.938946,0.968338,0.971878,0.798995,0.926254,0.925487,0.957576,0.972103,0.971914,0.973618,0.981308,0.983051

In [15]:
report_df = pd.concat(reports)
report_df.rename(columns={"Latino_Hispanic": "Latino Hispanic"}, inplace=True)

In [26]:
report_root_path = system.make_out_path(conf, 'Reports')
print(report_root_path.split(f"{conf['Backbone']}"))

['./data/fairface/reports/openCLIP/', "/['openai', 'laion400m_e31', 'laion2b_s32b_b82k', 'datacomp_xl_s13b_b90k', 'commonpool_xl_s13b_b90k']"]

In [28]:
f"{conf['Reports']}/{conf['Model']}/{conf['Backbone']}"

'./data/fairface/reports/openCLIP/ViT-L-14'