In [1]:
import pandas as pd

In [2]:
val_path = "./data/fairface/fface_val.csv"
fface_df = pd.read_csv(val_path)

In [3]:
fface_df.describe()

             file    age gender   race service_test
count       10954  10954  10954  10954        10954
unique      10954      9      2      7            2
top     val/1.jpg  20-29   Male  White        False
freq            1   3300   5792   2085         5792